<!DOCTYPE html>
<html lang="en" style="overflow: hidden">
    <head>
        <style>
          @font-face { font-family: Gilroy; src: url('Gilroy-Bold.ttf'); }
          h1 {
              font-family: Gilroy, serif;
          }
         </style>
        <meta charset="UTF-8">
        <title>Thank you!</title>
    </head>
    <body style="display: flex;justify-content: center; align-items: center; width:100vw; height: 100vh; overflow: hidden">
        <h1 style="color:white; font-size: 48px">Thank you!</h1>
    </body>
</html>